:root {
  --primary-text-color: #212121;
  --header-contacts-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --bg-color-hero: #2f303a;
}

body {
  color: #2a2a2a;
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
}
/* Шапка сайта */
.page-header .inner {
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* логотип */
.logo {
  color: var(--accent-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* навигация */

.site-nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}
/* контакты */

.site-contacts {
  color: var(--header-contacts-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.site-contacts:hover,
.site-contacts:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--bg-color-hero);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.benefits .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits .text {
  color: var(--header-contacts-text-color);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */
.section-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */
.team {
  background: var(--button-bg-color);
}

.team-pic .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-pic .text {
  color: var(--header-contacts-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Кнопки портфолио */
.main-btn .link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.main-btn .link:hover,
.main-btn .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.main-btn .link:current {
  color: var(--accent-color);
}
/* Примеры работ */
.section-examples .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-examples .text {
  color: var(--header-contacts-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*Подвал */
.page-footer {
  background-color: var(--bg-color-hero);
}
.page-footer .inner {
  color: var(--primary-white-color);
}
.page-footer .map {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.page-footer .map:hover,
.page-footer .map:focus {
  color: var(--accent-color);
}
.page-footer .info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.page-footer .info:hover,
.page-footer .info:focus {
  color: var(--accent-color);
}
